
<div> You are on the homepage </div>


<ol class="affirmation-box">
  {{#each affirmations as |affirmation|}}
  <li>
    <article class="affirmations">
      <!-- affirmation --> 
      <div class="title">
       {{affirmation_phrase}}  
        
      </div>
      
    </article>
  </li>
  {{/each}}
</ol>


<ol class="quote-box">
  {{#each quotes}}
  <li>
    <article class="quotes">
      <!-- quotes --> 
      <div class="title">
       {{quote}} - by {{by}}
      </div>
      
    </article>
  </li>
  {{/each}}
</ol>

<ol class="teas-box">
  {{#each teas}}
  <li>
    <article class="teas">
      <!-- teas --> 
      <div class="title">
       {{tea_type}} - benefits {{benefits}}
      </div>
      
    </article>
  </li>
  {{/each}}
</ol>




<h2> Create a Entry </h2>
<form class="entry-form">
  <div>
    <textarea name="entry-title"></textarea>
    <textarea name="entry-text" id="entry-text"></textarea>
  </div>

  <div>
    <button type="submit">Create The Entry</button>
    

  </div>
</form>

<div class="comments">
  {{#each post.entry}}
  <section class="comment">
    <div class="meta">

      Entered on {{created_at}}
    </div>
    <div class="text">
      {{entry_text}}
    </div>
  </section>
  {{/each}}
</div>

 <a href="/entry/{{entry.id}}">{{entry_title}} </a>
      </div>


<h2> Previous Entries </h2>

<div class="entries-box">
  {{#each entry}} 

    <article class="teas">
      <!-- entries --> 
      <div class="title">
      <h3> {{entry_title}}  </h3> 
      <p> {{createdAt}} </p>
      
     <p> {{entry_text}}  </p> 
      </div>
      
    </article>
 <button type="submit">edit entry</button>
    <button type="submit">delete entry</button>
  {{/each}}


</div>

<script src="./javascript/entry.js"></script>