<section class= "container">
<nav>
 <ul>
   <li class="brand"><img class="logo" src="/icons/tealogo.png"><strong>TranquliTea</strong></li>
 </ul>
</nav>
<form>
 
  <div class="tagline"> <p>Choose the emoji that matches your mood closest. Keep a daily log of your selections and subsequent journal entries to track your moods and mental health!</p></div>
   <div class="content">
 <div class="radio-toolbar">
  
<input type="radio" id="happier" name="val" value="happier"/>
<label for="happier" class="affirmationBtn1 quoteBtn1 teaBtn1"><img id="small" class="mood" src="/icons/grinning.png"/></label>
 
 
<input type="radio" id="happy" name="val" value="happy"/>
<label for="happy" class="affirmationBtn2 quoteBtn2 teaBtn2"><img id="small" class="mood" src="/icons/smiling.png"/></label>
 
 
<input type="radio" id="bummed" name="val" value="bummed"/>
<label for="bummed" class="affirmationBtn3 quoteBtn3 teaBtn3"><img id="small" class="mood" src="/icons/pensive.png"/></label>
 
<input type="radio" id="sad"  name="val" value="sad"/>
<label for="sad" class="affirmationBtn4 quoteBtn4 teaBtn4"><img id="small" class="mood" src="/icons/sleepy.png"/></label>
 </div>
 <br/><br/><br/><br/>
{{!-- AFFIRMATIONS --}}
<section>
  
<h1 align="center"> Affirmations </h1>
 
<div class="affirmation" id="affirmation" >
 
   {{affirmation_phrase}}
 
</div>
 
{{!-- <button type="submit" class="affirmationBtn"> Generate a new Affirmation </button> --}}
 
</section>
 
{{!-- QUOTES --}}
<section>
<h1 align="center"> Quotes </h1>
 
<div class="quote" id="quote"> {{quote}} </div>
 
<p class="by" id="by"> {{by}} </p>
</section>
 
 
{{!-- TEAS --}}
<section>
<h1 align="center"> Teas </h1>
 
<div class="tea" id="tea"> {{tea_type}} </div>
 
<p class="benefits" id="benefits">  {{benefits}} </p>
 
 
</section>
 
</div>
     </form>
<section class="journal">
<h2 align="center"> Spill the Tea </h2>
<form class="entry-form">
 <div>
   <textarea name="entry-title"></textarea>
   <textarea name="entry-text" id="entry-text"></textarea>
 </div>
 
 <div>
   <button type="submit">Create The Entry</button>
  
 
 </div>
</form>
 
<div class="comments">
 {{#each post.entry}}
 <section class="comment">
   <div class="meta">
 
     Entered on {{created_at}}
   </div>
   <div class="text">
     {{entry_text}}
   </div>
 </section>
 {{/each}}
</div>
 
<a href="/entry/{{entry.id}}">{{entry_title}} </a>
     </div>
 
 
<h2 align="center"> Previous Entries </h2>
 
<div class="entries-box">
 {{#each entry}}
 
   <article class="teas">
     <!-- entries -->
     <div class="title">
     <h3> {{entry_title}}  </h3>
     <p> {{createdAt}} </p>
    
    <p> {{entry_text}}  </p>
     </div>
    
   </article>
<button type="submit">edit entry</button>
   <button type="submit">delete entry</button>
 {{/each}}
 
 
</div>
</section>
 
 
 
 
 
 
<script src="./javascript/entry.js"></script>
<script src="./javascript/bot.js"></script>
